<header>All Shelters</header>
<%= link_to 'New Shelter', "/shelters/new", method: :get %>
<%= link_to 'Pets', "/pets", method: :get %>

<% @shelters.each do |shelter| %>
  <h2><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h2>
  <ul id=<%= "#{shelter.id}" %>>
    <li><%= shelter.address %></li>
    <li><%= shelter.city %></li>
    <li><%= shelter.state %></li>
    <li><%= shelter.zip %></li>
    <%= link_to 'Edit', "/shelters/#{shelter.id}/edit", method: :get %>
    <%= link_to 'Delete', "/shelters/#{shelter.id}", method: :delete %>
  </ul>
<% end %>