<%= link_to 'Shelters', "/shelters", method: :get %>
<%= link_to 'All Pets', "/pets", method: :get %>
<%= link_to "This Shelter's Pets", "/shelters/#{@shelter.id}/pets", method: :get %>

<h1><%= @shelter.name %></h1>

<ul>
  <p>Address:</p>
  <li><%= @shelter.address %></li>
  <li><%= @shelter.city %></li>
  <li><%= @shelter.state %></li>
  <li><%= @shelter.zip %></li>
</ul>

<%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit", method: :get %><br>
<%= link_to 'Delete Shelter', "#{@shelter.id}", method: :delete %>