<header>All Pets</header>
<%= link_to 'Shelters', "/shelters", method: :get %>

<% @pets.each do |pet| %>
  <h2><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h2>
  <ul id=<%= "#{pet.id}" %>>
    <li>Approximate Age: <%= pet.approximate_age %></li>
    <li>Sex: <%= pet.sex %></li>
    <li>Shelter: <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter_id}", method: :get %></li>
    <%= link_to 'Edit', "/pets/#{pet.id}/edit", method: :get %>
    <%= link_to 'Delete', "/pets/#{pet.id}", method: :delete %>
  </ul>
<img src= "<%= pet.image %>" alt="Cute Doggo">
<% end %>
