<%= link_to 'Shelters', "/shelters", method: :get %>
<%= link_to 'All Pets', "/pets", method: :get %>

<h1><%= @pet.name %></h1>
<ul>
  <li>Description: <%= @pet.description %></li>
  <li>Approximate Age: <%= @pet.approximate_age %></li>
  <li>Sex: <%= @pet.sex %></li>
  <li>Adoption Status: <%= @pet.status %></li>
  <li>Shelter: <%= link_to "#{@pet.shelter.name}", "/shelters/#{@pet.shelter_id}", method: :get %></li>
  <%= link_to 'Edit', "/pets/#{@pet.id}/edit", method: :get %>
  <%= link_to 'Delete', "#{@pet.id}", method: :delete %>
</ul>
<img src= "<%= @pet.image %>" alt="Cute Doggo">