<%= link_to 'Shelters', "/shelters", method: :get %>
<%= link_to 'Pets', "/pets", method: :get %>

<% @shelters_pets.each do |pet|%>
  <img src="<%= pet.image %>" alt="picture of pet">
  <h1><%= link_to "#{pet.name}", "/pets/#{pet.id}", method: :get %></h1>
  <ul id=<%= "#{pet.id}" %>>
    <li><p><%= pet.approximate_age %></p></li>
    <li><p><%= pet.sex %></p></li>
    <li><p><%= pet.status %></p></li>
    <%= link_to "#{pet.shelter}", "/shelters/#{pet.shelter_id}", method: :get %>
    <%= link_to 'Edit', "/pets/#{pet.id}/edit", method: :get %>
    <%= link_to 'Delete', "/shelters/#{@shelter_id}/pets/#{pet.id}", method: :delete %>
  </ul>
<% end %>

<%= link_to 'Create Pet', "/shelters/#{@shelter_id}/pets/new", method: :get %>